# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Ranks.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
Ranks/.idea
*.user
*.cache
*.editorconfig

Ranks/Modules/ignore
Ranks/Modules/ignore/
*obj
*bin
*.idea
*addons/

Ranks_/