# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Ranks.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
Ranks/.idea
*.user
*.cache
*.editorconfig

Ranks/Ranks/.idea
Ranks/Ranks/bin
Ranks/Ranks/obj
Ranks/addons/
Ranks/Ranks.zip

Ranks/RanksApi/.idea
Ranks/RanksApi/bin
Ranks/RanksApi/obj

Ranks/Modules/Ranks_FakeRank
Ranks/Modules/Ranks_FakeRank/.idea
Ranks/Modules/Ranks_FakeRank/bin
Ranks/Modules/Ranks_FakeRank/obj
Ranks/Modules/Ranks_FakeRank/addons

Ranks/Modules/Ranks_ExStats_GeoIP/.idea
Ranks/Modules/Ranks_ExStats_GeoIP/bin
Ranks/Modules/Ranks_ExStats_GeoIP/obj
Ranks/Modules/Ranks_ExStats_GeoIP/addons

unsupported/Ranks/.idea
unsupported/Ranks/bin
unsupported/Ranks/obj

unsupported/Ranks for the LR database/.idea
unsupported/Ranks for the LR database/bin
unsupported/Ranks for the LR database/obj

unsupported/LvlRanks_with_modularity/.idea
unsupported/LvlRanks_with_modularity/bin
unsupported/LvlRanks_with_modularity/obj
