# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Ranks.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
Ranks/.idea
*.user
*.cache
*.editorconfig
Ranks/obj/Debug/net7.0/Ranks.AssemblyInfo.cs
Ranks/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Ranks/obj/Debug/net7.0/Ranks.GlobalUsings.g.cs
Ranks/obj/Ranks.csproj.nuget.dgspec.json
Ranks/obj/Ranks.csproj.nuget.g.props
Ranks/obj/Ranks.csproj.nuget.g.targets
Ranks/obj/project.assets.json
Ranks/obj/project.packagespec.json
Ranks/obj/rider.project.restore.info
*.dll
*.json
*.pdb
*.CopyComplete
*.txt
Ranks/obj/release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Ranks/obj/release/net7.0/Ranks.AssemblyInfo.cs
Ranks/obj/release/net7.0/Ranks.GlobalUsings.g.cs
Ranks/obj/Ranks.csproj.EntityFrameworkCore.targets
Ranks.zip
LevelRanks/.idea/.idea.Ranks.dir/.idea/discord-ij.xml
LevelRanks/.idea/.idea.Ranks.dir/.idea/indexLayout.xml
LevelRanks/.idea/.idea.Ranks.dir/.idea/projectSettingsUpdater.xml
LevelRanks/.idea/.idea.Ranks.dir/.idea/vcs.xml
*.xml
Ranks/EventsExpSettings.cs
LevelRanks/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
LevelRanks/obj/Debug/net7.0/LevelRanks.AssemblyInfo.cs
LevelRanks/obj/Debug/net7.0/LevelRanks.GlobalUsings.g.cs
LevelRanks/obj/LevelRanks.csproj.nuget.g.props
*.targets
LevelRanks/obj/release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
LevelRanks/obj/release/net7.0/LevelRanks.AssemblyInfo.cs
LevelRanks/obj/release/net7.0/LevelRanks.GlobalUsings.g.cs
LevelRanks/obj/rider.project.restore.info
Ranks/obj/rider.project.restore.info
Ranks/obj/RanksRise.csproj.nuget.g.props
Ranks/obj/Debug/net7.0/RanksRise.GlobalUsings.g.cs
Ranks/obj/Debug/net7.0/RanksRise.AssemblyInfo.cs
Ranks/obj/Debug/net7.0/Ranks.GlobalUsings.g.cs
Ranks/obj/Debug/net7.0/Ranks.AssemblyInfo.cs
Ranks/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
